{% load tb_app_tags %}
<div class="modal" id="myModal">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">&times;</button>
      <h3>Edit meta-data</h3>
  </div>
   <div class="modal-body">
        <form id="edit-meta-data-form" class="form-horizontal" tb-href="/ajax/update-meta-data/" tb-redirect="/collection/{{collection|mongo_id}}"><fieldset>
                  {% csrf_token %}
        <input type="hidden" value="{{collection|mongo_id}}" name="id_">
        <div id="edit-metadata"> </div>
<input type="hidden" value="0" name="meta-data-elements">
<input type="hidden" value="0" name="doc-index">

<button id="add" class="btn leftside">Save &raquo;</button>
      <button type="submit" class="btn btn-primary rightside">Save &raquo;</button>
      <button type="cancel" class="btn rightside">Cancel &times;</button>
    </fieldset></form>
  </div>
</div>
