<div class="modal" id="myModal">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">&times;</button>
    <h3>Upload new collection</h3>
  </div>
  <div class="modal-body">
<!--
    <form id="create-project-form" class="form-horizontal" tb-href="/ajax/create-project"><fieldset>
      <div class="control-group">
        <label class="control-label" for="project-name">Name</label>
        <div class="controls">
          <input type="text" class="input-xlarge" name="name" placeholder='e.g. "New York Times op-eds"'>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="description">Description</label>
        <div class="controls">
          <textarea class="input-xlarge" name="description" rows="3" placeholder="Where does this collection come from?"></textarea>
        </div>
      </div>
-->
      <div class="control-group">
        <label class="control-label" for="fileInput">File</label>
        <div class="controls">
          <input class="input-file" id="fileInput" type="file">
          <br/>
          Your file must be in a <a href="#">recognized format</a> to upload successfully.
        </div>
      </div>
      <br/><br/>
      <button type="submit" class="btn btn-primary rightside">Create &raquo;</button>
      <button type="cancel" class="btn rightside">Cancel &times;</button>
    </fieldset></form>
  </div>
</div>

