{% load tb_app_tags %}

<div class="modal" id="start-batch-modal">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">&times;</button>
    <h3>Start a batch</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" tb-href="/ajax/start-batch/" tb-redirect="/shared-resources/"><fieldset>
      {% csrf_token %}
      <div class="control-group">
        <label class="control-label" for="codebook">Codebook</label>
        <div class="controls">
          <span class="dropdown" id="batch-codebook-filter-menu">
            <a class="dropdown-toggle btn" data-toggle="dropdown" href="#batch-codebook-filter-menu">
              Filter
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a id="filterAllBatchCodebooks" href="#">Show all</a></li>
              <li><a id="filterCurrentBatchCodebooks" href="#">Current versions only</a></li>
              <li><a id="filterBatchBatchCodebooks" href="#">With batches only</a></li>
            </ul>
          </span>

          <select id="codebook" name="codebook_id">
            <!-- To be populated by jquery -->
          </select>

          <!-- Hack: this selector holds all the codebooks -->
          <select id="hidden-codebook-selector" style="display:none">
          {% for c in codebooks %}
            <option value="{{ c|mongo_id }}" class="{% if not c.children %}current{% endif %} {% if p.batches %}batches{% endif %}">{{ c.name }} ({{ c.version }})</option>
          {% endfor %}
          </select>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="collection">Collection</label>
        <div class="controls">
          <select id="collection" name="collection_id">
          {% for c in collections %}
            <option value="{{ c|mongo_id }}">{{ c.name }}</option>
          {% endfor %}
          </select>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="checkboxes">Assignments</label>
        <div class="controls">
          {% for u in users %}
            <label class="checkbox">
              <input type="checkbox" name="coder{{ forloop.counter }}" value="{{ u.username }}"> {{ u.first_name }} {{ u.last_name }}
            </label>
          {% endfor %}
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="pct_overlap">Overlap</label>
        <div class="controls">
          <div class="input-prepend">
            <input class="span2" id="pct_overlap" size="16" type="text" name="pct_overlap"><span class="add-on">%</span>
          </div>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="shuffle">Shuffle</label>
        <div class="controls">
            <label class="checkbox">
              <input type="checkbox" name="shuffle"> Shuffle the documents in assignments?
            </label>
        </div>
      </div>

      <br/>
      <button type="submit" class="btn btn-primary rightside">Go! &raquo;</button>
      <button type="cancel" class="btn rightside">Cancel &times;</button>
    </fieldset></form>
  </div>
</div>

<script type="text/javascript">
function filterAllBatchCodebooks(){
    //Clear out the codebook list
    $("select#codebook option").remove();

    //Add back all the codebooks, by cloning from #hidden-codebook-selector
    var options = $("#hidden-codebook-selector option").clone();
    $("select#codebook").append( options );
}

function filterCurrentBatchCodebooks(){
    filterAllBatchCodebooks();
    $("select#codebook option:not(.current)").remove();
}

function filterBatchBatchCodebooks(){
    filterAllBatchCodebooks();
    $("select#codebook option:not(.batch)").remove();
}


$(function(){
    //Set up listeners for the codebook filter dropdown
    $("#batch-codebook-filter-menu ul li a").click(function(){
        $("#batch-codebook-filter-menu ul li a i.icon-ok").remove();
        $(this).prepend('<i class="icon-ok"></i> ');
        eval( $(this).attr('id')+'()' );
    });

    //By default, filter to show only the current version of codebooks
    $("#filterCurrentBatchCodebooks").prepend('<i class="icon-ok"></i> ');
    filterCurrentBatchCodebooks();
});
</script>

