{% extends "base/single-column.html" %}

{% block start_scripts %}
<script type="text/javascript">
$(function(){
    $("#faq p strong")
        .click(function(){
            $("span", $(this).parent()).toggle();
        });
    $("#faq p span").hide();

});
</script>
{% endblock %}

{% block content %}
<h2>About TextBadger</h2>
<br/>
<!--
<p>I built TextBadger to help finish a big-data dissertation. My research design called for content analysis of civility across <i>millions</i> of blog posts.  These measurements needed to cover multiple dimensions of civility, with consistently high inter-coder reliability.  And no good codebooks for political civility existed, so my research team had to develop them from scratch through multiple iterations.</p>
<br/>
<p>As you might imagine, keeping everything organized was complicated.  My goal for TextBadger was to make the process transparent and replicable, iterate faster, and---in the end---get better results.  The concept combines the scientific method with best practices in agile development.</p>
<br/>
<p>It worked for me.  I hope it works for you too.</p>
<p>- Abe</p>
<br/>
-->

<h3>About the name</h3>
<p>See, it lets you process text in batches, so it's a "text batcher." Get it? "Badger"...? Oh, never mind.</p>
<br/>

<div id="faq">
<h3>FAQ</h3>
<p>
    <strong>How do I get an account on TextBadger?</strong><br/>
    <span>Talk to an administrator.  {{admin_names}}  Alternatively, you could set up your own instance.</span>
</p>
<p>
    <strong>How do I set up my own instance of TextBadger?</strong><br/>
    <span>Rub some bacon on it</span>
</p>
<p>
    <strong>How do I format my data for TextBadger?</strong><br/>
    <span>Rub some bacon on it</span>
</p>
<p>
    <strong>What is the TextBadger license?</strong><br/>
    <span>Rub some bacon on it</span>
</p>
<p>
    <strong>Can I get the source code?</strong><br/>
    <span>You certainly can.  Check it out at <a href="https://github.com/agong/textbadger">https://github.com/agong/textbadger</a>.</span>
</p>
<p>
    <strong>How do I report bugs?</strong><br/>
    <span>Rub some bacon on it</span>
</p>
</div>

<br/>
<br/>
<h3>Due credit</h3>
<p>TextBadger was developed using <a href="https://www.djangoproject.com">django</a> and <a href="http://www.allbuttonspressed.com/projects/django-nonrel">django-nonrel</a>.</p>
<p>It runs <a href="http://www.mongodb.org/">mongodb</a> on the back end, and uses <a href="http://twitter.github.com/bootstrap/">twitter bootstrap</a> for layout. The theme is "cerulean" from <a href="bootswatch.com">bootswatch.com</a>.</p>
<p>Javascript magic provided by <a href="http://jquery.com">jquery</a>, <a href="http://jqueryui.com/">jquery-ui</a>, and <a href="http://knockoutjs.com">knockout.js</a>.</p>
<!--<p>Icons (except the textBadger icon) are from <a href="http://www.doublejdesign.co.uk">Double-J Design</a>.</p>-->
<!--<p>Special thanks to Junlan and Mohit for their help with development, and to RAs Aleks, Alex, Michael, Rachel, Sean, and Seth, who suffered through lots of beta testing when the platform was still rough.</p>-->
<p>No badgers were harmed in the making of this software.</p>


{% endblock %}
