{% extends "base/document-control.html" %}
{% load tb_app_tags %}

{% block start_scripts %}
<script src="{{ STATIC_URL }}jquery.tmpl.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}underscore-min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}knockout-1.2.1.js" type="text/javascript"></script>

<!--<script src="{{ STATIC_URL }}informal/informalScripts.js" type="text/javascript"></script>-->
<script src="{{ STATIC_URL }}informal/informalModel.js" type="text/javascript"></script>
<!--<script src="{{ STATIC_URL }}informal/informalEditor.js" type="text/javascript"></script>-->
<!--<link href="{{ STATIC_URL }}informal/informal-styles.css" rel="stylesheet">-->

<script type="text/javascript">
var launchInformalViewer = function( codebook_json ){
    codebookModel.loadQuestions(codebook_json);
    
    //Load the template and knockout model dynamically.
    $.get("/static/informal/_informalTemplateKO.htm", function(template){
        $("body").append(template);
        ko.applyBindings(codebookModel);
    }, "text");

};
	
	
$(function(){
    //Highlight "my-account" in nav bar
    $('a[href*="/my-account/"]').parent().addClass("active");

    DocManager.initialize("{{batch.profile.collection_id}}","{{csrf_token}}");

	$.post("/ajax/get-codebook/",
        {'id': "{{batch.profile.codebook_id}}", 'csrfmiddlewaretoken': '{{ csrf_token }}' },
        function(response){
            //! Need error checking for failed responses.
            launchInformalViewer(response.codebook.questions);
        }
    );
});
</script>
{% endblock %}

{% block breadcrumbs %}
<div class="container">
<ul class="breadcrumb">
  <li>
    <a href="/my-account/#assignments">Assignments</a> <span class="divider">/</span>
  </li>
  <li>
    <a href="#">Batch 1</a></span>
  </li>
</ul>
</div>
{% endblock %}

{% block title %}
<h3>{{collection.name}}</h3>
{% endblock %}

{% block document %}
--- Document ---
{% endblock %}

{% block control %}
<h3>{{codebook.name}}</h3>

<hr/>
<div id="codebook" data-bind="template: { name: 'question-template', foreach: questions }"></div>

<a class="btn btn-inverse rightside">Submit</a>
<br/>

<!--
<hr/>
<h4>Collection Info</h4>
<strong>Name</strong>
<p>{{ collection.name }}</p>

<strong>Description</strong>
<p>{{ collection.description }}</p>


<hr/>
<h4>Document Info</h4>
<dl id="meta-data" class="dl-horizontal"></dl>
-->

<hr/>
<h4>Browse</h4>
<div style="text-align:center">
  <form>
	<button id="prev-doc-button" class="btn"><span class="icon-arrow-left"></span></button>
    &nbsp;&nbsp;
    <input id="doc-index" type="text" value="0" style="margin-top:9px; width:40px; text-align:center;"></input>
    of <span id="doc-count">0</span>
    &nbsp;&nbsp;
	<button id="next-doc-button" class="btn"><span class="icon-arrow-right"></span></button>
  </form>
</div>

{% endblock %}

