{% extends "base/document-control.html" %}
{% load tb_app_tags %}

{% block start_scripts %}
<script type="text/javascript">
$(function(){
    //Highlight "my-account" in nav bar
    $('a[href*="/my-account/"]').parent().addClass("active");

    DocManager.initialize();
    DocManager.loadDocList("{{batch.profile.collection_id}}","{{csrf_token}}");
});
</script>
{% endblock %}

{% block breadcrumbs %}
<div class="container">
<ul class="breadcrumb">
  <li>
    <a href="/my-account/#assignments">Assignments</a> <span class="divider">/</span>
  </li>
  <li>
    <a href="#">Batch 1</a></span>
  </li>
</ul>
</div>
{% endblock %}

{% block title %}
<h3>{{collection.name}}</h3>
{% endblock %}

{% block document %}
--- Document ---
{% endblock %}

{% block control %}


<h3>Collection Info</h3>
<strong>Name</strong>
<p>{{ collection.name }}</p>

<strong>Description</strong>
<p>{{ collection.description }}</p>

<!--
<strong>Size</strong>
<p>{{ collection.documents|length }}</p>
-->

<h3>Document Info</h3>
<dl id="meta-data" class="dl-horizontal"></dl>



<h3>Browse</h3>
<div style="text-align:center">
  <form>
	<button id="prevButton"><span class="icon-arrow-left"></span></button>
    &nbsp;&nbsp;
    <input id="doc_index" type="text" value="0" style="margin-top:9px; width:40px; text-align:center;"></input>
    of <span id="doc_count">0</span>
    &nbsp;&nbsp;
	<button id="nextButton"><span class="icon-arrow-right"></span></button>
  </form>
</div>

{% endblock %}

