{% extends "base/document-control.html" %}
{% load tb_app_tags %}

{% block start_scripts %}
{% include "base/codebook-includes.html" %}

<script type="text/javascript">
//var codebook_id = "{{codebook|mongo_id}}";
var codebookManager = new CodebookManager();

codebookManager.initControls = function(){
    //Add hidden csrf token and other hidden fields

    //Add the "submit" button.
    $('<div class="questionBox"><div class="questionContent" style="text-align:right"><a class="btn btn-primary">Submit</a></div></div>')
        .appendTo("#codebook")
        .click(this.submitAjaxCode);
};

codebookManager.submitAjaxCode = function(){
    //! Make sure codebook is filled in
    //! (Optional) warning before submitting incomplete forms
    
    //Submit the result
    $.post(
        "/ajax/submit-batch-code/",
        $('#codebook-form').serialize(),
        function(result){
            if( result.status == "success" ){
                //Clear codebook answers
                $form = $("#codebook-form");
                $form.find('input:text, input:password, input:file, select, textarea').val('');
                $form.find('input:radio, input:checkbox')
                     .removeAttr('checked').removeAttr('selected');
                
                //Load the next document
                DocManager.loadNextDoc();
            }else{
                alert( result.msg );
            }
        }
    );
};


codebookManager.addStylesToQuestion = function(Q){
    $(".shim-graph").hide();
    
    $(".clickable", Q)
        .mouseover( function(){ $(this).addClass('mouseoverCell'); })
        .mouseout( function(){ $(this).removeClass('mouseoverCell'); })
        .click( function(event){
            if( event.target.type != 'checkbox' && event.target.type != 'radio' ){
                x = $('input', this).trigger("click");
            }
        });
};
   
	
$(function(){
//    var seq_list = ;
    
    //Highlight "my-account" in nav bar
    $('a[href*="/my-account/"]').parent().addClass("active");

    //Load collection
    DocManager.initialize("{{batch.profile.collection_id}}", "{{csrf_token}}", {{seq_list}});

    //Load codebook
    codebookManager.init("{{ batch.profile.codebook_id }}", "{{ csrf_token }}");
});
</script>
{% endblock %}

{% block breadcrumbs %}
<div class="container">
<ul class="breadcrumb">
  <li>
    <a href="/my-account/#assignments">Assignments</a>
    <span class="divider">/</span>
  </li>
  <li>
    <a href="#">{{ batch.profile.name }}</a></span>
  </li>
  <li>
    <span class="divider"> :: </span>
    <a href="/batch/{{ batch|mongo_id }}/">Go to batch page</a></span>
  </li>
</ul>
</div>
{% endblock %}

{% block document %}
--- Document ---
{% endblock %}

{% block control %}
<form id="codebook-form">
    <div id="codebook" data-bind="template: { name: 'question-template', foreach: questions }" tb-codebook-mode="viewer"></div>
    {% csrf_token %}
    <input id='batch-id-hidden' type='hidden' name='batch_id' value='{{ batch|mongo_id }}'></input>
    <input id='doc-index-hidden' type='hidden' name='doc_index' value='0'></input>
</form>

<span id="docs-remaining">#</span> documents remaining.
{% endblock %}

