{% extends "base/single-column.html" %}

{% block start_scripts %}
<script type="text/javascript">
$(function(){
    //Highlight "shared-rez" in nav bar
    $('a[href*="/shared-resources/"]').parent().addClass("active");
});
</script>
{% endblock %}

{% block breadcrumbs %}
<div class="container">
<ul class="breadcrumb">
    <li>
        <a href="/shared-resources/#batches">Batches</a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="#">{{batch.profile.name}}</a></span>
    </li>
    {% if user.username in batch.profile.coders %}
    <li>
        <span class="divider"> :: </span>
        <a href="/assignment/{{ batch.profile.index }}/{{ user.username }}">Go to assignment page</a></span>
    </li>
    {% endif %}
</ul>
</div>
{% endblock %}


{% block content %}
<!-- Overview --------------------->
<a class="btn btn-inverse rightside" href="/review/{{ batch.profile.index }}/">Review results &raquo;</a>
<a class="btn btn-inverse open-modal rightside"><i class="icon-download"></i> Export results</a>
{% include "forms/under-construction.htm" %}
<h2>{{batch.profile.name}}</h2>

<dl class="dl-horizontal">
    <dt>Codebook</dt><dd>{{ codebook.name }} ({{ codebook.version }})&nbsp;</dd>
    <dt>Collection</dt><dd>{{ collection.name }}&nbsp;</dd>
    <dt>Documents</dt><dd>{{ collection.documents|length }}&nbsp;</dd>
    <dt>Overlap</dt><dd>{{ batch.profile.pct_overlap }}%</dd>
    <dt>Shuffle</dt><dd>{{ batch.profile.shuffle }}&nbsp;</dd>
    <dt>Total tasks</dt><dd>{{ batch.reports.progress.summary.complete }}  of {{ batch.reports.progress.summary.assigned }} complete</dd>
</dl>
<br/>

<!-- Assignments --------------------->
{% if user.username in batch.profile.coders %}
<a class="btn btn-primary rightside" href="/assignment/{{ batch.profile.index }}/{{ user.username }}">Work on my tasks &raquo;</a>
{% endif %}
<h3>Assignments</h3>
<table class="well wide">
  <thead>
    <tr>
      <th>Name</th>
      <th>Progress</th>
      <th style="width: 40%"></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for coder,value in batch.reports.progress.coders.items %}
    <tr>
      <td>{{ coder }}</td>
      <td>{{ value.complete }}/{{ value.assigned }}</td>
      <td><div class="progress progress-striped" style="margin:0px">
          <div class="bar" style="width: {{ value.percent }}%;"></div>
      </div></td>
      <td>{{ value.percent }}%</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<br/><br/>


<!-- Reliability --------------------->
<div class="rightside">
  <a class="btn btn-inverse rightside"><i class="icon-refresh"></i> Update reliability</a>
  <br/>
  <span class="rightside">Last update: 2 hours ago, 457 completed tasks</span>
  <br/>
  <br/>
</div>
<h3>Reliability</h3>

<table class="well wide">
  <thead>
    <tr>
      <th>#</th>
      <th>Question</th>
      <th>Type</th>
      <th style="width:20%">Reliability</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>How many jelly beans are...</td>
      <td>Interval</td>
      <td><div class="progress progress-striped progress-warning" style="margin:0px">
          <div class="bar" style="width: 23%;"></div>
      </div></td>
<!--
      <td class="progress progress-striped progress-warning">
          <div class="bar" style="width: 23%;"></div>
      </td>
-->
      <td>.2347</td>
    </tr>
    <tr>
      <td>2</td>
      <td>How much wood would a woodchuck...</td>
      <td>Ordinal</td>
      <td><div class="progress progress-striped progress-success" style="margin:0px">
          <div class="bar" style="width: 85%;"></div>
      </div></td>
<!--
      <td class="progress progress-striped progress-success">
          <div class="bar" style="width: 85%;"></div>
      </td>
-->
      <td>.8576</td>
    </tr>
    <tr>
      <td>3</td>
      <td>How many jelly beans are...</td>
      <td>Interval</td>
      <td><div class="progress progress-striped" style="margin:0px">
          <div class="bar" style="width: 57%;"></div>
      </div></td>
<!--
      <td class="progress progress-striped progress-active">
          <div class="bar" style="width: 57%;"></div>
      </td>
-->
      <td>.5744</td>
    </tr>

  {% for p in batches %}
    <tr>
      <td>{{ p.profile.name }}</td>
      <td>[...]</td>
      <td>[...]</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<!-- <a>View/print extended report</a> -->


{% endblock %}

{% block footer_columns %}{% endblock %}

