{% extends "base/single-column.html" %}
{% load tb_app_tags %}

{% block start_scripts %}
<script src="{{ STATIC_URL }}js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
$(function(){
    //Highlight "shared-rez" in nav bar
    $('a[href*="/shared-resources/"]').parent().addClass("active");

    $('#update-reliability').click(function(){
        $.post(
            "/ajax/update-batch-reliability/",
            {csrfmiddlewaretoken: '{{ csrf_token }}', batch_id: '{{ batch|mongo_id }}'},
            function(response){
                if( response.status == "success" ){
                }else{
                    alert( response.msg );
                }
            }
        );
    });
});

$(document).ready(function() {
     $('#assignments').dataTable( {
       "oLanguage": {
         "sLengthMenu": 'Display <select>'+
           '<option value="10">10</option>'+
           '<option value="20">20</option>'+
           '<option value="30">30</option>'+
           '<option value="40">40</option>'+
           '<option value="50">50</option>'+
           '<option value="-1">All</option>'+
           '</select> records'
       },
       "bFilter": false,
       "sDom": 't<"bottom"ipls>'
     } );
   } );

$(document).ready(function() {
     $('#reliability').dataTable( {
       "oLanguage": {
         "sLengthMenu": 'Display <select>'+
           '<option value="10">10</option>'+
           '<option value="20">20</option>'+
           '<option value="30">30</option>'+
           '<option value="40">40</option>'+
           '<option value="50">50</option>'+
           '<option value="-1">All</option>'+
           '</select> records'
       },
       "bFilter": false,
       "sDom": 't<"bottom"ipls>'
     } );
   } );

</script>
{% endblock %}

{% block breadcrumbs %}
<div class="container">
<ul class="breadcrumb">
    <li>
        <a href="/shared-resources/#batches">Batches</a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="#">{{batch.profile.name}}</a></span>
    </li>
    {% if user.username in batch.profile.coders %}
    <li>
        <span class="divider"> :: </span>
        <a href="/assignment/{{ batch.profile.index }}/{{ user.username }}">Go to assignment page</a></span>
    </li>
    {% endif %}
</ul>
</div>
{% endblock %}


{% block content %}
<!-- Overview -------------------->
<a class="btn btn-primary rightside" href="/review/{{ batch.profile.index }}/">Review results &raquo;</a>
<a class="btn btn-primary rightside" href="/batch/{{ batch|mongo_id }}/export/"><i class="icon-download"></i> Export results</a>
<h2>{{batch.profile.name}}</h2>

<dl class="dl-horizontal">
    <dt>Codebook</dt><dd>{{ codebook.profile.name }} ({{ codebook.profile.version }})&nbsp;</dd>
    <dt>Collection</dt><dd>{{ collection.profile.name }}&nbsp;</dd>
    <dt>Documents</dt><dd>{{ collection.profile.size }}&nbsp;</dd>
    <dt>Overlap</dt><dd>{{ batch.profile.pct_overlap }}%</dd>
    <dt>Shuffle</dt><dd>{{ batch.profile.shuffle }}&nbsp;</dd>
    <dt>Total tasks</dt><dd>{{ batch.reports.progress.summary.complete }}  of {{ batch.reports.progress.summary.assigned }} complete</dd>
</dl>
<br/>

<!-- Assignments -------------------->
{% if user.username in batch.profile.coders %}
<a class="btn btn-primary rightside" href="/assignment/{{ batch.profile.index }}/{{ user.username }}">Work on my tasks &raquo;</a>
{% endif %}
<h3>Assignments</h3>
<table class="well wide" id="assignments">
  <thead>
    <tr>
      <th>Name</th>
      <th>Progress</th>
      <th style="width: 40%"></th>
      <th>Progress</th>
    </tr>
  </thead>
  <tbody>
  {% for coder,value in batch.reports.progress.coders.items %}
    <tr>
      <td>{{ coder }}</td>
      <td>{{ value.complete }}/{{ value.assigned }}</td>
      <td><div class="progress progress-striped" style="margin:0px">
          <div class="bar" style="width: {{ value.percent }};"></div>
      </div></td>
      <td>{{ value.percent }}%</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<br/><br/>


<!-- Reliability -------------------->
<div class="rightside">
  <a id="update-reliability" class="btn btn-primary rightside"><i class="icon-refresh"></i> Update reliability</a>
  <br/>
  <span class="rightside">Last updated: {{ batch.reports.reliability.updated_at|date_diff }}</span>
  <br/>
  <br/>
</div>
<h3>Reliability</h3>

<table class="well wide" id="reliability">
  <thead>
    <tr>
      <th>#</th>
      <th>Question</th>
      <th>Type</th>
      <th style="width:20%"></th>
      <th>Reliability</th>
    </tr>
  </thead>
  <tbody>
    {% for question,value in batch.reports.reliability.summary.items %}
    <tr>
      <td>{{forloop.counter}}</td>
      <td>{{question}}</td>
      <td>{{value.metric}}</td>
      <td><div class="progress progress-striped progress-warning" style="margin:0px">
          <div class="bar" style="width: {{value.alpha_100|floatformat:1}}%;"></div>
      </div></td>
      <td>{{value.alpha|floatformat:4}}</td>
    </tr>
  {% endfor %}
<!--
      <td class="progress progress-striped progress-warning">
          <div class="bar" style="width: 23%;"></div>
      </td>
-->
<!--
      <td>.2347</td>
    </tr>
    <tr>
      <td>2</td>
      <td>How much wood would a woodchuck...</td>
      <td>Ordinal</td>
      <td><div class="progress progress-striped progress-success" style="margin:0px">
          <div class="bar" style="width: 85%;"></div>
      </div></td>
      <td>.8576</td>
    </tr>
    <tr>
      <td>3</td>
      <td>How many jelly beans are...</td>
      <td>Interval</td>
      <td><div class="progress progress-striped" style="margin:0px">
          <div class="bar" style="width: 57%;"></div>
      </div></td>
      <td>.5744</td>
    </tr>
-->
  {% for p in batches %}
    <tr>
      <td>{{ p.profile.name }}</td>
      <td>[...]</td>
      <td>[...]</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<!-- <a>View/print extended report</a> -->


{% endblock %}

{% block footer_columns %}{% endblock %}

