{% extends "base/document-control.html" %}
{% load tb_app_tags %}

{% block doc_classes %}
    span3
    well
    offset3
{% endblock %}

{% block start_scripts %}
<script src="{{ STATIC_URL }}jquery.tmpl.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}underscore-min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}knockout-1.2.1.js" type="text/javascript"></script>

<script src="{{ STATIC_URL }}informal/informalScripts.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}informal/informalModel.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}informal/informalEditor.js" type="text/javascript"></script>
<link href="{{ STATIC_URL }}informal/informal-styles.css" rel="stylesheet">

<script type="text/javascript">
var codebook_id = "{{codebook|mongo_id}}";

$(function(){
	$.post("/ajax/get-codebook/",
        {'id': codebook_id, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
        function(response){
            //! Need error checking for failed responses.
            launchInformalEditor(response.codebook.questions);
        }
    );
});
</script>
{% endblock %}

{% block title %}
<h3>{{codebook.name}}</h3>
{% endblock %}

{% block document %}
<!-- --- Codebook --- -->
<!--
<div id="loading-msg">
    <img class="tb-loading" src="{{ STATIC_URL }}ajax-loader.gif"></img>
    <p>Loading codebook...</p>
</div>
-->
<div data-bind="template: { name: 'question-template', foreach: questions }"></div>
{% endblock %}

{% block control %}
<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Codebook</a></li>
    <li><a href="#tab2" data-toggle="tab">Question</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <strong>Name</strong>
      <p>{{ codebook.name }}</p>

      <strong>Description</strong>
      <p>{{ codebook.description }}</p>

      <hr/>      
      <div id="impexpControls">
          <a class="btn" id="exportJsonButton">Export Json</a>
          <a class="btn" id="exportSelfCButton">Export HTML</a>
<!--          <a class="btn" id="loadJsonButton">Import json</a> -->
      </div>
    </div>
    <div class="tab-pane" id="tab2">
        <dl id="meta-data" class="dl-horizontal"></ul>
        <div id="sequenceControls" style="text-align:center">
            <button id="add_control"><span class="control icon-plus"></span></button>
            <button id="del_control"><span class="control icon-minus"></span></button>
            <button id="up_control"><span class="control icon-arrow-up"></span></button>
            <button id="down_control"><span class="control icon-arrow-down"></span></button>
        </div>
        <div id="questionControls"></div>
    </div>
  </div>
</div>
{% endblock %}

