{% extends "base/document-control.html" %}
{% load tb_app_tags %}

{% block start_scripts %}
<script type="text/javascript">
$(function(){
});
</script>
{% endblock %}

{% block title %}
<h3>{{codebook.name}}</h3>
{% endblock %}

{% block document %}
--- Codebook ---
{{codebook}}
{% endblock %}

{% block control %}
<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Codebook</a></li>
    <li><a href="#tab2" data-toggle="tab">Question</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <strong>Name</strong>
      <p>{{ codebook.name }}</p>

      <strong>Description</strong>
      <p>{{ codebook.description }}</p>

      <hr/>
      <div id="impexpControls">
          <a class="btn" id="exportJsonButton">Export json</a>
          <a class="btn" id="exportSelfCButton">Export HTML</a>
          <a class="btn" id="loadJsonButton">Import json</a>
      </div>
    </div>
    <div class="tab-pane" id="tab2">
        <dl id="meta-data" class="dl-horizontal"></ul>
        <div id="sequenceControls" style="text-align:center">
            <button id="add_control"><span class="control icon-plus"></span></button>
            <button id="del_control"><span class="control icon-minus"></span></button>
            <button id="up_control"><span class="control icon-arrow-up"></span></button>
            <button id="down_control"><span class="control icon-arrow-down"></span></button>
        </div>
        <div id="questionControls"></div>
    </div>
  </div>
</div>
{% endblock %}

