{% extends "base/document-control.html" %}
{% load tb_app_tags %}


{% block start_scripts %}
<script type="text/javascript">
//!This is wrong:
var collection_id = "{{collection|mongo_id}}";
var doc_list = [];
var doc_index = 0;

function show_doc(index){
    $("#doc-box").html(doc_list[index].content);
}

$(function(){
    $.post(
        '/ajax/get-collection-docs/',
        {'id': collection_id, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
        function(data){
            doc_list = data.documents;
            show_doc(2);
//            $("#doc-box").html(JSON.stringify(data))
        },
        'json'
    )
});
</script>
{% endblock %}

{% block document %}
--- Document ---
{{documents}}
{% endblock %}

{% block control %}
--- Control ---
{% endblock %}

