{% extends "base/document-control.html" %}
{% load tb_app_tags %}

{% block start_scripts %}
<script type="text/javascript">
/*
//! This .js code needs a refactor!

function loadDocList( collection_id ){
    $.post(
        '/ajax/get-collection-docs/',
        {'id': collection_id, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
        function(data){
            doc_list = data.documents;
            showDocument(0);
            $("#doc_count").html(doc_list.length);
        },
        'json'
    )
}

function showDocument(index){
    $("#doc_index").val(index+1);
//    console.log(doc_list[index]);

    $("#doc-box").html(doc_list[index].content);

    var M = doc_list[index].metadata;
    $("#meta-data").html("");
    for( m in M ){
        $("#meta-data").append("<dt>"+m+"</dt>");
        $("#meta-data").append("<dd>"+M[m]+"</dd>");
    }
}

function loadPrevDoc(){
	if( doc_index > 0 ){
		doc_index -= 1;

		showDocument( doc_index );
		if( doc_index == 0 ){ $("#prevButton").addClass("ui-state-disabled"); }
		$("#nextButton").removeClass("ui-state-disabled");
	}
	return( false );
};

function loadNextDoc(){
	if( doc_index < doc_list.length-1 ){
		doc_index += 1;

		showDocument( doc_index );
		if( doc_index == doc_list.length-1 ){ $("#nextButton").addClass("ui-state-disabled"); }
		$("#prevButton").removeClass("ui-state-disabled");
	}
	return( false );
};

function initialize(){
    $("#prevButton").click( loadPrevDoc );
    $("#nextButton").click( loadNextDoc );
    $("#doc_index").change(function(){
        var x = $(this).val();

        //! Need to add validation to this function
        doc_index = x;
        showDocument(x)
    });
}

//!This is wrong:
var collection_id = "{{collection|mongo_id}}";
var doc_list = [];
var doc_index = 0;
*/

$(function(){
    //Highlight "shared-rez" in nav bar
    $('a[href*="/shared-resources/"]').parent().addClass("active");

    DocManager.initialize();
    DocManager.loadDocList("{{collection|mongo_id}}","{{csrf_token}}");
});
</script>
{% endblock %}

{% block breadcrumbs %}
<div class="container">
<ul class="breadcrumb">
  <li>
    <a href="/shared-resources/#collections">Collections</a> <span class="divider">/</span>
  </li>
  <li>
    <a href="#">{{collection.name}}</a></span>
  </li>
</ul>
</div>
{% endblock %}

{% block title %}
<h3>{{collection.name}}</h3>
{% endblock %}

{% block document %}
--- Document ---
{% endblock %}

{% block control %}
<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Collection</a></li>
    <li><a href="#tab2" data-toggle="tab">Document</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <strong>Name</strong>
      <p>{{ collection.name }}</p>

      <strong>Description</strong>
      <p>{{ collection.description }}</p>

<!--
      <strong>Size</strong>
      <p>{{ collection.documents|length }}</p>
-->
    </div>
    <div class="tab-pane" id="tab2">
      <dl id="meta-data" class="dl-horizontal"></ul>
    </div>
  </div>
</div>

<hr/>

<div style="text-align:center">
<!--    --- Control ---<br/> -->
  <form>
	<button id="prevButton"><span class="icon-arrow-left"></span></button>
    &nbsp;&nbsp;
    <input id="doc_index" type="text" value="0" style="margin-top:9px; width:40px; text-align:center;"></input>
    of <span id="doc_count">0</span>
    &nbsp;&nbsp;
	<button id="nextButton"><span class="icon-arrow-right"></span></button>
  </form>
</div>

{% endblock %}

