{% extends "single.html" %}

{% block start_scripts %}
<script type="text/javascript">
$(function(){
});
</script>
{% endblock %}

{% block content %}
<h2>TextBadger</h2>
<p>free and easy content analysis for teams</p>

<br/>
<p>
<strong>Features</strong>
<ul class="big-list">
    <li>Rapid codebook development</li>
    <li>Scalable document uploads</li>
    <li>Streamlined content coding with feedback</li>
    <li>Built-in tools for checking reliability and comparing coding</li>
    <li>Simple data export</li>
    <li>Totally free and open source, no strings attached</li>
</ul>
</p>

<br/>
<br/>
<a class="btn btn-primary btn-large" href="/about">About TextBadger &raquo;</a>

<p>
</p>
{% endblock %}
