{% extends "base/single-column.html" %}

{% block start_scripts %}
<script type="text/javascript">
$(function(){
    //Highlight "my-account" in nav bar
    $('a[href*="/my-account/"]').parent().addClass("active");
});
</script>
{% endblock %}

{% block content %}
<!-- Assignments --------------------->
<h3>My Assignments</h3>
  <table class="well wide">
  {% if assignments %}
  <thead>
    <tr>
      <th>Assignment</th>
      <th style="width:30%">Progress</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  {% endif %}
  <tbody>
  {% for a in assignments %}
    <tr <a href="/assignment/{{ a.batch.index }}">
      <td><a href="/assignment/{{ a.batch.index }}">{{ a.batch.name }}</a></td>
      <td><div class="progress progress-striped progress-success" style="margin:0px">
          <div class="bar" style="width: {{a.progress.percent}}%;"></div>
      </div></td>
      <td>{{a.progress.complete}}/{{a.progress.assigned}}</td>
      <td>{{a.progress.percent}}%</td>
    </tr>
  {% empty %}
    <tr>
      <td colspan=4><br/>You don't have any coding assignments yet.<br/><br/>
        <a href="/assignment/1">temp-link: "/assignment/1"</a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
  </table>
<br/><br/>


<!-- Account Settings --------------------->
<h3>Account settings</h3>
<dl class="dl-horizontal">
    <dt>username</dt><dd>{{user.username}}&nbsp;</dd>
    <dt>first name</dt><dd>{{user.first_name}}&nbsp;</dd>
    <dt>last name</dt><dd>{{user.last_name}}&nbsp;</dd>
    <dt>email</dt><dd>{{user.email}}&nbsp;</dd>
</dl>
{% endblock %}

{% block footer_columns %}{% endblock %}

