{% extends "base/document-control.html" %}
{% load tb_app_tags %}

{% block start_scripts %}
<script src="{{ STATIC_URL }}jquery.tmpl.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}underscore-min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}knockout-1.2.1.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}jquery.imagesloaded.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}informal/informalModel.js" type="text/javascript"></script>

<script type="text/javascript">
var launchInformalViewer = function( codebook_json ){
    codebookModel.loadQuestions(codebook_json);
    
    //Load the template and knockout model dynamically.
    $.get("/static/informal/_informalTemplateKO.htm", function(template){
        $("body").append(template);
        ko.applyBindings(codebookModel);
        codebookModel.addStylesToCodebook();

		//Markup at random
		$(".questionMarkupAnchor").each(function(i,d){
			var $d = $(d);
            //$d.css('background-color', '#d9d');

            //Add badge
			var $badge = $('<span class="questionMarkup badge badge-warning"></span>')
                .prependTo($d.closest('.questionBox'));
			
            //Fill in badge contents
			var r = Math.random()
			$badge.append('<b>.'+Math.floor(r*1000)+'</b>');
/*			if( r < .5 ){
				$badge.addClass('badge-warning');
			} else if( r < .7){
				$badge.addClass('badge-info');
			}
*/
            //Set badge location
			var offset = $d.offset();
			$badge.offset({ top: offset.top, left: offset.left-$badge.width()-22 });// + $d.width()-$qm.width() });

            //Shim-graphs
            if( $d.hasClass("HAnchor") ){
                $("input", $d).each(function(i,x){
                    //Create shimgraph and content
                    var $shimgraph = $('<div class="shim-graph-h"></div>');
                    for( j=0; j<Math.random()*20; j++ ){
                        $shimgraph.append('<img src="/static/tiny-shim-b.gif"></img>');
                    }

                    //Save the location of the input, before it gets replaced.
                    var offset = $(x).offset();

                    //Replace the input with the shimgraph
                    $(x).replaceWith($shimgraph);

                    //Position shimgraph, after all the images load
                    $shimgraph.imagesLoaded( function(){
                        $shimgraph.offset({ top: offset.top-5, left: offset.left-$shimgraph.width()-4 });
                    });
                });
            }else{
                $("input", $d).each(function(i,x){
                    //Create shimgraph and content
                    var $shimgraph = $('<div class="shim-graph-b"></div>');
                    for( j=0; j<Math.random()*20; j++ ){
                        $shimgraph.append('<img src="/static/tiny-shim-b.gif"></img>');
                    }

                    //Save the location of the input, before it gets replaced.
                    var offset = $(x).offset();

                    //Replace the input with the shimgraph
                    $(x).replaceWith($shimgraph);                    
                });
                
/*                $d.imagesLoaded( function(){
                    var w = Math.max.apply(Math, $('.shim-graph', $d).map(function(){ 
                        return $(this).width(); 
                    }).get());
                    console.log(w);
                    $('.shim-graph', $d).each(function(i,x){
                        $(x).css("padding-left",w-$(x).width());
                    });
                });
*/
            }
		});

    }, "text");

};
	
	
$(function(){
    
    Array.max = function( array ){
        return Math.max.apply( Math, array );
    };

    // Function to get the Min value in Array
    Array.min = function( array ){
       return Math.min.apply( Math, array );
    };
    
    //Highlight "my-account" in nav bar
    $('a[href*="/my-account/"]').parent().addClass("active");

    DocManager.initialize("{{batch.profile.collection_id}}","{{csrf_token}}");

	$.post("/ajax/get-codebook/",
        {'id': "{{batch.profile.codebook_id}}", 'csrfmiddlewaretoken': '{{ csrf_token }}' },
        function(response){
            //! Need error checking for failed responses.
            launchInformalViewer(response.codebook.questions);       
        }
    );
});
</script>
{% endblock %}

{% block breadcrumbs %}
<div class="container">
<ul class="breadcrumb">
    <li>
        <a href="/shared-resources/#batches">Batches</a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="/batch/{{ batch|mongo_id }}/">{{ batch.profile.name }}</a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="#">Review</a>
    </li>
</ul>
</div>
{% endblock %}

{% block document %}
--- Document ---
{% endblock %}

{% block control %}
<div id="codebook" data-bind="template: { name: 'question-template', foreach: questions }" tb-codebook-mode="viewer"></div>
<br/>

{% endblock %}

