{% extends "base/document-control.html" %}
{% load tb_app_tags %}

{% block start_scripts %}
<script src="{{ STATIC_URL }}js/textbadger-documents.js" type="text/javascript"></script>
{% include "base/codebook-includes.html" %}

<script type="text/javascript">
var docManager = new DocumentManager();
var codebookManager = new CodebookManager();
var label_list = {{ label_list|safe }};

docManager.initControls = docManager.initDefaultNavControls;
docManager.updateControls = function(){
    this.updateDefaultNavControls();
    
    var labels = label_list[this.doc_index];
    /*
    console.log("====================================================");
    console.log("label_list");
    console.log(label_list);
    console.log("DocManager.doc_index");
    console.log(DocManager.doc_index);
    console.log("labels");
    console.log(labels);
    */
    
    //Markup
    $(".questionMarkupAnchor").each(function(i,d){
        var $d = $(d),
            show_badges = false,
            var_name = $d.attr("data-var-name"),
            var_type = $d.attr("data-var-type");

        //Create and show popover
        var popover_title = "<strong>"+var_name+"</strong></strong><br/>",
            popover_str = "";
        if( var_name in labels ){
            for( j in labels[var_name] ){
                if( labels[var_name][j] != "" ){
                    popover_str += j+" : "+labels[var_name][j]+"<br/>";
                }
            }
        }

        $d.popover({
            title: popover_title,
            content: popover_str,
            placement: "left"
        });
        $d.attr("data-content", popover_str);

        $d.css("cursor","pointer");

        //Create and show badges
        if( show_badges ){
            //Remove any previous badges
            //$('span.questionMarkup', $d.closest('.questionBox')).remove();
            $('span.questionMarkup', $d).remove();

            //Add new badge
            var r = Math.random();
            var $badge = $('<span class="questionMarkup badge badge-warning"></span>')
                .append('<b>.'+Math.floor(r*1000)+'</b>')
                .prependTo($d.closest('.questionBox'));
                //.prependTo($d);

            //Set badge location
            var offset = $d.offset();
            $badge.offset({ top: offset.top, left: offset.left-$badge.width()-22 });
        }

        //Create and show shim-graphs
        $(".shim-graph", $d).each(function(i,g){
            var $shimgraph = $(g);
            $shimgraph.html("");
                
            if( var_name in labels ){
                if( var_type == 'radio' ){
                    var val = $shimgraph.next().val();

                    for( j in labels[var_name] ){
                        //console.log(var_name+"\t"+j+"\t:\t"+val+"\t:\t"+labels[var_name][j]);
                        if( labels[var_name][j] == val ){
                            $('<img src="/static/img/tiny-shim-b.gif"></img>')
                                .appendTo( $shimgraph );
                        }
                    }

                    //Fake data
/*
                    for( j=0; j<Math.floor(Math.random()*5); j++ ){
                        $('<img src="/static/img/tiny-shim-b.gif"></img>').appendTo( $shimgraph );
                    }
*/

                }else if( var_type == 'cata' ){
                    for( j in labels[var_name] ){
                        console.log(var_name + "\t" + j + "\t" + labels[var_name][j]);
                        $('<img src="/static/img/tiny-shim-b.gif"></img>').appendTo( $shimgraph );
                    }
                }else if( var_type == 'text' ){
                    for( j in labels[var_name] ){
                        if( labels[var_name][j] != "" ){
                            $('<img src="/static/img/tiny-shim-b.gif"></img>').appendTo( $shimgraph );
                        }
                    }
                }
            }

            $(this)
                .data("var_name", var_name)
                .next().hide();
        });
    });
};


codebookManager.addStylesToQuestion = function(){
};

codebookManager.initControls = function(){
    docManager.showDocument(0);
};

/*
//! This method should be moved out to a subclass
this.markupCodebook = function(labels){
    var labels = label_list[DocManager.doc_index];
    
    //Markup
    $(".questionMarkupAnchor").each(function(i,d){
        var $d = $(d),
            show_badges = false;

        //Create and show badges
        if( show_badges ){
            //Remove any previous badges
            //$('span.questionMarkup', $d.closest('.questionBox')).remove();
            $('span.questionMarkup', $d).remove();

            //Add new badge
            var r = Math.random();
            var $badge = $('<span class="questionMarkup badge badge-warning"></span>')
                .append('<b>.'+Math.floor(r*1000)+'</b>')
                .prependTo($d.closest('.questionBox'));
                //.prependTo($d);

            //Set badge location
            var offset = $d.offset();
            $badge.offset({ top: offset.top, left: offset.left-$badge.width()-22 });
        }
        
        //Create and show shim-graphs
        $(".shim-graph", $d).each(function(i,g){
            var var_name = $(this).next().attr("name"),
                $shimgraph = $(g),
                val = $shimgraph.next().val();
            
            if( var_name in labels ){
                for( j in labels[var_name] ){
                    //console.log(var_name+"\t"+j+"\t:\t"+val+"\t:\t"+labels[var_name][j]);
                    if( labels[var_name][j] == val ){
                        $shimgraph.append('<img src="/static/tiny-shim-b.gif"></img>');
                    }
                }
            }
            $(this)
                .data("var_name", var_name)
                .next().hide();
        });
    });
};
*/
/*
var launchInformalViewer = function( codebook_json ){
    codebookModel.loadQuestions(codebook_json);
    
    //Load the template and knockout model dynamically.
    $.get("/static/informal/_informalTemplateKO.htm", function(template){
        $("body").append(template);
        ko.applyBindings(codebookModel);
        codebookModel.addStylesToCodebook();
        
        //Marking up the codebook here (as well as in loadDocument) prevents a race condition when loading the collection and codebook
        codebookModel.markupCodebook();

    }, "text");

};
*/
	
$(function(){    
    //Highlight "my-account" in nav bar
    $('a[href*="/my-account/"]').parent().addClass("active");

    docManager.init("{{ batch.profile.collection_id }}", "{{ csrf_token }}");
    codebookManager.init("{{ batch.profile.codebook_id }}", "{{ csrf_token }}");
});
</script>
{% endblock %}

{% block breadcrumbs %}
<div class="container">
<ul class="breadcrumb">
    <li>
        <a href="/shared-resources/">Review</a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="#">{{ batch.profile.name }}</a>
        <span class="divider">::</span>
    </li>
    <li>
        <a href="/batch/{{ batch|mongo_id }}/">Go to batch page</a>
    </li>
</ul>
</div>
{% endblock %}

{% block document %}
--- Document ---
{{batch}}
{% endblock %}

{% block control %}
<div style="text-align:center">
  <form>
	<button id="prev-doc-button" class="btn"><span class="icon-arrow-left"></span></button>
    &nbsp;&nbsp;
    <input id="doc-index" type="text" value="0" style="margin-top:9px; width:40px; text-align:center;"></input>
    of <span id="doc-count">0</span>
    &nbsp;&nbsp;
	<button id="next-doc-button" class="btn"><span class="icon-arrow-right"></span></button>
  </form>
</div>

<div id="codebook" data-bind="template: { name: 'question-template', foreach: questions }" tb-codebook-mode="viewer"></div>
<br/>

{% endblock %}

