{% extends "base/document-control.html" %}
{% load tb_app_tags %}

{% block start_scripts %}

<script type="text/javascript">
var launchInformalViewer = function( codebook_json ){
    codebookModel.loadQuestions(codebook_json);
    
    //Load the template and knockout model dynamically.
    $.get("/static/informal/_informalTemplateKO.htm", function(template){
        $("body").append(template);
        ko.applyBindings(codebookModel);
        codebookModel.addStylesToCodebook();
        
        //Marking up the codebook here (as well as in loadDocument) prevents a race condition when loading the collection and codebook
        codebookModel.markupCodebook();

    }, "text");

};

var label_list = {{ label_list|safe }};
	
	
$(function(){    
    //Highlight "my-account" in nav bar
    $('a[href*="/my-account/"]').parent().addClass("active");

    DocManager.initialize("{{batch.profile.collection_id}}","{{csrf_token}}");

	$.post("/ajax/get-codebook/",
        {'id': "{{batch.profile.codebook_id}}", 'csrfmiddlewaretoken': '{{ csrf_token }}' },
        function(response){
            //! Need error checking for failed responses.
            launchInformalViewer(response.codebook.questions);       
        }
    );
});
</script>
{% endblock %}

{% block breadcrumbs %}
<div class="container">
<ul class="breadcrumb">
    <li>
        <a href="/shared-resources/#batches">Batches</a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="/batch/{{ batch|mongo_id }}/">{{ batch.profile.name }}</a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="#">Review</a>
    </li>
</ul>
</div>
{% endblock %}

{% block document %}
--- Document ---
{{batch}}
asdf
{% endblock %}

{% block control %}
<div style="text-align:center">
  <form>
	<button id="prev-doc-button" class="btn"><span class="icon-arrow-left"></span></button>
    &nbsp;&nbsp;
    <input id="doc-index" type="text" value="0" style="margin-top:9px; width:40px; text-align:center;"></input>
    of <span id="doc-count">0</span>
    &nbsp;&nbsp;
	<button id="next-doc-button" class="btn"><span class="icon-arrow-right"></span></button>
  </form>
</div>

<div id="codebook" data-bind="template: { name: 'question-template', foreach: questions }" tb-codebook-mode="viewer"></div>
<br/>

{% endblock %}

