{% extends "base/single-column.html" %}
{% load tb_app_tags %}

{% block start_scripts %}
<script src="{{ STATIC_URL }}js/jquery.dataTables.min.js"></script>
<!--<script src="{{ STATIC_URL }}js/dataTables.percent.js"></script>-->
<script type="text/javascript">
/*
function filterAll(){
    $("table#codebooks tbody tr").fadeIn();
}

function filterCurrent(){
    $("table#codebooks tbody tr:not(.current)").fadeOut();
    $("table#codebooks tbody tr.current").fadeIn();
}

function filterBatch(){
    $("table#codebooks tbody tr:not(.batches)").fadeOut();
    $("table#codebooks tbody tr.batches").fadeIn();
}

$(function(){
    //Highlight navbar
    $('a[href*="/shared-resources/"]').parent().addClass("active");

    //Set up listeners for the codebook filter dropdown
    $("#filter-menu ul li a").click(function(){
        $("#filter-menu ul li a i.icon-ok").remove();
        $(this).prepend('<i class="icon-ok"></i> ');
        eval( $(this).attr('id')+'()' );
    });

    //By default, filter to show only the current version of codebooks
    $("#filterCurrent").prepend('<i class="icon-ok"></i> ');
    $("table#codebooks tbody tr:not(.current)").hide();
    $("table#codebooks tbody tr.current").show();
});
*/

$(document).ready(function() {
    //Define tables that need the datatables plugin.
    //! Slightly hacky. Alternatively, we could look for #collections, etc. with a child th
    var tables = [];
    {% if codebooks %}
      tables.push("#codebooks");
    {% endif %}
    {% if collections %}
      tables.push("#collections");
    {% endif %}
    {% if batches %}
      tables.push("#batches");
    {% endif %}

    (tables.join(",")).dataTable({
        "oLanguage": {
            "sLengthMenu": 'Show <select>'+
            '<option value="10">10</option>'+
            '<option value="25">25</option>'+
            '<option value="50">50</option>'+
            '<option value="-1">All</option>'+
            '</select> records'
        },
        "bFilter": false,
        "sDom": 't<"bottom"lips>'
    });

 });

</script>

{% endblock %}

{% block content %}

<!-- Codebooks -->
<a class="btn btn-primary open-modal rightside">Create codebook</a>
{% include "forms/create-codebook.htm" %}

<h3>Codebooks</h3>
<table id="codebooks" class="well wide">
  {% if codebooks %}
  <thead>
    <tr>
      <th>Name</th>
      <th>Version</th>
      <th>Created</th>
      <th>State</th>
       <!-- <span class="dropdown" id="filter-menu">
          <a class="dropdown-toggle btn" data-toggle="dropdown" href="#filter-menu">
            Filter
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a id="filterAll" href="#">Show all</a></li>
            <li><a id="filterCurrent" href="#">Current versions only</a></li>
            <li><a id="filterBatch" href="#">With batches only</a></li>
          </ul>
        </span>-->
      </th>
    </tr>
  </thead>
  {% endif %}
  <tbody>
  {% for p in codebooks %}
    <tr class="{% if not p.profile.children %}current{% endif %} {% if p.profile.batches %}batches{% endif %}" href="/codebook/{{ p|mongo_id }}">
      <td><a href="/codebook/{{ p|mongo_id }}">{{ p.profile.name }}</a></td>
      <td>{{ p.profile.version }}</td>
      <td>{{ p.profile.created_at|date_diff }}</td>
      <td>
        {% if not p.profile.children %}<span class="badge badge-success">current</span>{% endif %}
        {% if p.profile.batches %}<span class="badge badge-success">batches</span>{% endif %}
      </td>
    </tr>
  {% empty %}
    <tr class="current batches"> <!-- Including classes "current batches" is a hack to make this row play nice with the filtering logic. -->
      <td colspan=4><br/>You need to create a codebook to get started.<br/><br/>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<br/><br/>


<!-- Collections -->
<a class="btn btn-primary open-modal rightside">Create collection</a>
{% include "forms/create-collection.htm" %}
<a class="btn btn-primary open-modal rightside">Upload collection</a>
{% include "forms/upload-collection.htm" %}

<h3>Collections</h3>
  <table class="well wide" id="collections">
  {% if collections %}
  <thead>
    <tr>
      <th>Name</th>
      <th>Created</th>
      <!--<th>Type</th>-->
      <th>Size</th>
    </tr>
  </thead>
  {% endif %}
  <tbody>
  {% for p in collections %}
    <tr href="/collection/{{ p|mongo_id }}">
      <td><a href="/collection/{{ p|mongo_id }}">{{ p.profile.name }}</a></td>
      <td>{{ p.profile.created_at|date_diff }}</td>
      <!--<td>{{ p.profile.type }}</td> -->
      <td>{{ p.profile.size }}</td>
    </tr>
  {% empty %}
    <tr>
      <td colspan=4><br/>Next, you need to upload a collection of documents.<br/><br/>
      </td>
    </tr>
  {% endfor %}
  </tbody>
  </table>
<br/><br/>

<!-- Batches -->
{% if collections and codebooks %}
<a class="btn btn-primary open-modal rightside">Start a batch</a>
{% else %}
<a class="btn btn-primary disabled  rightside">Start a batch</a>

{% endif %}
{% include "forms/start-batch.htm" %}

<h3>Batches</h3>
<table class="well wide" id="batches">
  {% if batches %}
  <thead>
    <tr>
      <th>#</th>
      <th>Batch</th>
      <th></th>
      <th>Progress</th>
    </tr>
  </thead>
  {% endif %}
  <tbody>
  {% for p in batches %}
    <tr href="/batch/{{ p|mongo_id }}">
      <td>{{ p.profile.index }}</td>
      <td><a href="/batch/{{ p|mongo_id }}">{{ p.profile.name }} : {{ p.profile.description }}</a></td>
      <td><div class="progress progress-striped" style="margin:0px">
          <div class="bar" style="width: {{ p.reports.progress.summary.percent }}%;"></div>
      </div></td>
      <td>{{ p.reports.progress.summary.percent }}</td>
    </tr>
  {% empty %}
    <tr>
      <td colspan=4><br/>Once you have at least one codebook and one collection, you can launch a batch.<br/><br/>
<!--        <a href="/batch/1">temp-link: "/batch/1"</a> -->
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<br/><br/>


{% endblock %}
