/* Formatting for controls *******************************************************/
#sequenceControls{text-align:center; margin-top:6px; margin-bottom:4px;}
#questionControls {text-align:left;}

.mouseoverCell{
	background-color:#ddf;
	border-radius: 10px;
}
.hoverQuestion{ border:2px solid #ddf; }
.targetQuestion{ border:2px solid #bbd; background-color:#ddf; }

/* Formatting for questions **************************************************/

.questionBox{
    margin:5px;
    padding:10px;
    text-align:left;
/*
    border:2px solid #fff;
    border-radius:10px;
*/
    font-size:10pt;
}

.headerText, .answerText, .questionText{
    width:95%;
    padding:2px;
} /*background-color:#eee; */

.answerText{
    padding-left:22px;
    cursor:pointer;
}

.questionBox table{
    font-size:10pt;
    color: #555;
}

.questionBox p{
    margin:0px 20px 0px 20px;
}

.questionBox input[type=text]{
    margin-left:20px;
}

.questionBox textarea{
    margin-left:20px;
}


table.matrixQuestion{
	border-collapse:collapse;
/*	width:630px; */
	width: 90%;
	margin:auto;
	margin-bottom:20px;
}
thead{}

tr{}
.even{
	background-color:#eee;
}
.odd{
	background-color:#ccc;
}

td{
	text-align:center;
	padding:5px;
}
.textCol{
	text-align:left;
	padding-left:25px;
	text-indent:-20px;
}
.leftCol{text-align:right; }
.rightCol{ text-align:left; }

