<script id="question-template" type="x-jquery-tmpl">

<div class="questionBox{{if targeted}} targetQuestion{{/if}}">
  <div class="questionContent">
{{if question_type() == codebookModel.questionTypes()[0] /*Static text*/}}
	<div class="headerText">{{html params.header_text}}</div>

{{else question_type() == codebookModel.questionTypes()[1] /*Multiple choice*/}}
    <div class="questionMarkupAnchor">
        <div class="headerText">{{html params.header_text}}</div>
        {{each(i,v) params.answer_array}}
            <div class="answerText">
                <div class="shim-graph" style="width:20px;"></div>
                <input type="radio" name="Q${ko.utils.arrayIndexOf(codebookModel.questions,$data)+1}{{if var_name}}_${var_name}{{/if}}" value="${i+1}"></input>
                {{html v}}
            </div>
        {{/each}}
    </div>
    
{{else question_type() == codebookModel.questionTypes()[2] /*CATA*/}}
	<div class="headerText">{{html params.header_text}}</div>
	{{each(i, v) params.answer_array}}
		<div class="answerText questionMarkupAnchor">
            <div class="shim-graph"></div>
            <input type="checkbox" name="Q${ko.utils.arrayIndexOf(codebookModel.questions,$data)+1}{{if var_name}}_${var_name}{{/if}}" value="${i+1}"></input>
            {{html v}}
        </div>
	{{/each}}

{{else question_type() == codebookModel.questionTypes()[3] /*Two-way scale*/}}
	<div class="headerText">{{html params.header_text}}</div>
	<table class="matrixQuestion">
		<tr>
			<td></td>
			{{each(i, v) params.answer_array}}<td>{{html v}}</td>{{/each}}
			<td></td>
		</tr>
		<tr class="questionMarkupAnchor">
			<td class="leftCol">{{html params.left_statement}}</td>
			{{each(i, v) params.answer_array}}<td>
                <div class="shim-graph"></div>
                <input type="radio" name="Q${ko.utils.arrayIndexOf(codebookModel.questions,$data)+1}{{if var_name}}_${var_name}{{/if}}" value="${i+1}"></input>
            </td>{{/each}}
			<td class="rightCol">{{html params.right_statement}}</td>
		</tr>
	</table>

{{else question_type() == codebookModel.questionTypes()[4] /*Radio matrix*/}}
	<div class="headerText">{{html params.header_text}}</div>
	<table class="matrixQuestion">
		<thead><td></td>{{each(i, v) params.answer_array}}<td>${v}</td>{{/each}}</thead>
		{{each(i, v) params.question_array}}
			<tr class="questionMarkupAnchor {{if i%2}}odd{{else}}even{{/if}}">
                <td class="textCol">{{html v}}</td>
                {{each(j, w) params.answer_array}}<td>
                    <div class="shim-graph"></div>
                    <input type="radio" name="Q${ko.utils.arrayIndexOf(codebookModel.questions,$data)+1}_${i+1}{{if var_name}}_${var_name}{{/if}}" value="${j+1}"></input>
                </td>{{/each}}
            </tr>
		{{/each}}
	</table>

{{else question_type() == codebookModel.questionTypes()[5] /*Checkbox matrix*/}}
	<div class="headerText">{{html params.header_text}}</div>
	<table class="matrixQuestion">
		<thead><td></td>{{each(i, v) params.answer_array}}<td>${v}</td>{{/each}}</thead>
		{{each(i, v) params.question_array}}
			<tr {{if i%2}}class="odd"{{else}}class="even"{{/if}}>
                <td class="textCol">{{html v}}</td>
                {{each(j, w) params.answer_array}}<td class="questionMarkupAnchor">
                    <div class="shim-graph"></div>
                    <input type="checkbox" name="Q${ko.utils.arrayIndexOf(codebookModel.questions,$data)+1}_${i+1}{{if var_name}}_${var_name}{{/if}}" value="${j+1}"></input>
                </td>{{/each}}
            </tr>
		{{/each}}
	</table>

{{else question_type() == codebookModel.questionTypes()[6] /*Two-way matrix*/}}
	<div class="headerText">{{html params.header_text}}</div>
	<table class="matrixQuestion">
		<tr>
			<td></td>
			{{each(i, v) params.answer_array}}<td>{{html v}}</td>{{/each}}
			<td></td>
		</tr>

		{{if !(typeof params.left_statements == 'undefined')}}
		{{each(j,w) _.range(0,Math.max(params.left_statements().length,params.right_statements().length))}}
			<tr class="questionMarkupAnchor {{if j%2}}odd{{else}}even{{/if}}">
				<td class="leftCol">{{html params.left_statements()[j]}}</td>
				{{each(i, v) params.answer_array}}<td>
                    <div class="shim-graph"></div>
                    <input type="radio" name="Q${ko.utils.arrayIndexOf(codebookModel.questions,$data)+1}_${j+1}{{if var_name}}_${var_name}{{/if}}" value="${i+1}"></input>
                </td>{{/each}}
				<td class="rightCol">{{html params.right_statements()[j]}}</td>
			</tr>
		{{/each}}
		{{/if}}
	</table>

{{else question_type() == codebookModel.questionTypes()[7] /*Text*/}}
    <div class=" questionMarkupAnchor">
        <div class="headerText questionMarkupAnchor">{{html params.header_text}}</div>
        <div class="shim-graph"></div>
        <input type="text" name="Q${ko.utils.arrayIndexOf(codebookModel.questions,$data)+1}{{if var_name}}_${var_name}{{/if}}" value="" size="${params.cols}"></input>
    </div>

{{else question_type() == codebookModel.questionTypes()[8] /*Short essay*/}}
    <div class=" questionMarkupAnchor">
        <div class="headerText">{{html params.header_text}}</div>
        <div class="shim-graph"></div>
        <textarea name="Q${ko.utils.arrayIndexOf(codebookModel.questions,$data)+1}{{if var_name}}_${var_name}{{/if}}" cols="${params.cols}" rows="${params.rows}"></textarea>
    </div>
    
{{else question_type() == codebookModel.questionTypes()[9] /*Text matrix*/}}
	<div class="headerText">{{html params.header_text}}</div>
	<table class="matrixQuestion">
		{{each(i, v) params.answer_array}}
			<tr class="questionMarkupAnchor {{if i%2}}odd{{else}}even{{/if}}">
                <td class="textCol">{{html v}}</td>
                <td>
                    <div class="shim-graph"></div>
                    <input type="text" name="Q${ko.utils.arrayIndexOf(codebookModel.questions,$data)+1}_${i+1}{{if var_name}}_${var_name}{{/if}}" size="${params.cols}"></input>
                </td>
            </tr>
		{{/each}}
	</table>

{{else}}
	<h3>Question type not yet supported: ${question_type}</h3>
{{/if}}
  </div>
</div>

</script>
