
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <a class="brand" href="/">TextBadger</a>
      <!-- These menu options are *not* collapsed for small screens -->
      <ul class="nav" style="float:right">
          {% if user.is_authenticated %}
            <li><a href="/sign-out/">Sign out {{ user.username }}</a></li>
          {% else %}
            <li>
              <a id="sign-in-btn">Sign in</a>
            </li>
          {% endif %}
      </ul>

      <!-- These menu options are collapsed for small screens -->
      <div class="nav-collapse">
        <ul class="nav">
        {% if user.is_authenticated %}
          <li><a href="/my-account/">My account</a></li>
          <li><a href="/shared-resources/">Shared resources</a></li>
          {% if user.is_superuser %}
          <li><a href="/administration/">Administration</a></li>
          {% endif %}
        {% endif %}
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

